dcad_data/*
!dcad_data/.gitkeep
!dcad_data/PARCEL_GEOM/
dcad_data/PARCEL_GEOM/*
!dcad_data/PARCEL_GEOM/.gitkeep
output/
docs/
guides/
__pycache__/
*.pyc
*.csv
map*.html
BRIEFING.md
.~lock.*
redfin_url.txt
redfin/
